body {
  color: #40514e;
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

/* navbar */
nav {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e0ebe8;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
}

li a:hover {
  background-color: #111;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  margin: 0;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 5px;
  border-bottom: none;
  width: 5%;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6;
}

.work {
  font-weight: normal;
}

.container {
  background-color: #e0ebe8;
  padding-top: 100px;
  position: relative;
}

#profile {
  padding: 80px 0;
}

.common {
  padding: 60px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.row {
  margin: 20px auto;
  text-align: left;
  width: 50%;
}

#skills .first-skill {
  margin: 20px auto;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.left-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.right-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 100;
  padding: 5px;
  box-shadow: 1px 1px 8px 0px grey;
  -webkit-box-shadow: 1px 1px 8px 0px grey;
  -moz-box-shadow: 1px 1px 8px 0px grey;
  text-shadow: 1px 1px 20px #000000;
  border: solid #11cdd4 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #30e3cb 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.copy-right-text {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
